<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>catPush.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>catPushServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E977BFF622FA6598007A13A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E977C00E22FA6599007A13A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E977C01922FA6599007A13A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E977C05222FA6CD0007A13A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E977C08822FACE73007A13A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
